{% extends 'Master/MenuTemplate.html.twig' %}

{% block body %}

    <div class="m-3">
        <form style="display:flex" action="{{ asset('ListProduct') }}?action=load" method="post">
            <div style="flex:1; margin-right: 5px">
                <label for="sk_stripe_index">Indica la cuenta de stripe</label>
                <select id="sk_stripe_index" name="sk_stripe_index" class="custom-select">
                    {% for key,value in fsc.sks_stripe %}
                        <option {% if(key == fsc.sk_stripe_index) %} selected {% endif %}
                                value="{{ key }}">{{ value.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button style="height: 40px;align-self: flex-end;" onclick="muestraSpinner(true)" class="btn btn-info" type="submit">Consultar</button>
        </form>
    </div>

    {% if(fsc.action=='load') %}
        <div class="m-3 mt-4">
            <h1>Lista de Productos de Stripe</h1>

            {% set res = fsc.products %}
            <table class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Producto FS</th>
                    <th>Descripcion</th>
                    <th>...</th>
                </tr>
                </thead>
                {% for p in res %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.fs_idProduct }}<a href="{{ asset('EditProducto') }}?code={{ p.fs_idProduct }}"
                               target="_blank">{% if(p.fs_idProduct!='') %}<i class="fas fa-eye"></i>{% endif %}</a>
                        </td>
                        <td>{{ p.description }}</td>

                        <td>
                            <a href="{{ asset('SelectProduct') }}?st_product_id={{ p.id }}"><i
                                        class="fas fa-plus"></i></a></td>
                    </tr>
                {% endfor %}
            </table>

            {#{% if res.has_more==true %}
                <a onclick="muestraSpinner(true)"
                   href="{{ fsc.url() }}?action={{ fsc.actions['load'] }}&start={{ res.last }}&limit={{ res.limit }}&sk_stripe_index={{ fsc.sk_stripe_index }}">Cargar
                    más</a>
            {% else %}
                <a onclick="muestraSpinner(true)" href="{{ fsc.url() }}">No hay más facturas de esta cuenta.</a>
            {% endif %}#}
        </div>
    {% endif %}

    {{ include('_spinner.html.twig') }}
{% endblock %}
